p{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 3px;
    font-size: 13px;
    color: rgb(68, 86, 88);
}
a {
    color: rgb(121, 147, 151);
    text-decoration-thickness: 3px;
    text-transform: uppercase;
}
a:visited {
    color: rgb(113, 167, 146);
}
a:hover{
    background-color: rgb(4, 17, 19);
}
img{
    width: 500px;
    margin: auto;
}
body {
    width: 90%;
    margin: auto;
}
q{
    width: 45%;
    margin: auto;
    background-color: rgba(167, 167, 167, 0.445);
}